/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "bahnschrift", sans-serif;
  --font-secondary: "bahnschrift", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #000;
    --color-primary:  #a04ef6;
    --color-secondary: #ec9706;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

/*--------------------------------------------------------------
# Admission Requirements and Procedure Section
--------------------------------------------------------------*/
.admission_result .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    padding: 30px;
  }

.admission_result h2 {
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.admission_result .table {
    text-align: center;
}

