/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "bahnschrift", sans-serif;
  --font-secondary: "bahnschrift", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #000;
    --color-primary:  #a04ef6;
    --color-secondary: #ec9706;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

/*--------------------------------------------------------------
# Announcements Section
--------------------------------------------------------------*/
.announcements .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  padding: 30px;
}

/*--------------------------------------------------------------
# Announcements Stylings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Announcements Home Posts List
--------------------------------------------------------------*/
.announcements .posts-list article {
  box-shadow:0 0 20px rgba(0,0,0,.5);
  padding: 30px;
  height: 100%;
}

.announcements .posts-list article+article {
  margin-top: 60px;
}

.announcements .posts-list .post-img {
  max-height: 500px;
  margin: -30px -30px 0 -30px;
  overflow: hidden;
}

.announcements .posts-list .post-img img {
  width: 100%;
}

.announcements .posts-list .title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 20px 0 0 0;
}

.announcements .posts-list .title a {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  transition: 0.3s;
}

.announcements .posts-list .title a:hover {
  color: var(--color-primary);
}

.announcements .posts-list .meta-top {
  margin-top: 20px;
  color: var(--color-gray);
}

.announcements .posts-list .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.announcements .posts-list .meta-top ul li+li {
  padding-left: 20px;
}

.announcements .posts-list .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: var(--color-primary);
}

.announcements .posts-list .meta-top a {
  color: gray;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.announcements .posts-list .content {
  margin-top: 20px;
}

.announcements .read-more {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  display: -nline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: var(--color-primary);
}

.announcements .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.announcements .read-more:hover {
  padding-right: 19px;
}

.announcements .read-more:hover i {
  color: var(--color-secondary);
  margin-left: 10px;
}

/*--------------------------------------------------------------
# Announcements # Section
--------------------------------------------------------------*/
.announcementsadd {
    padding-top: 60px;
}

.announcementsadd .container-ann {
    width: 81.7rem;
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
}

/* .announcementsadd .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-default);
  font-family: var(--font-primary);
  margin-bottom: 25px;
  
}

.announcementsadd .title:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-default);
  margin-top: 5px;
}

.announcementsadd .view {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--color-default);
}

.announcementsadd .view i {
  font-weight: 700;
  font-size: 20px;
  color: #028a0f;
}

.announcementsadd .card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.announcementsadd .card-title {
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.announcementsadd .card-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  margin-top: 5px;
  left: 135px;
}

.announcementsadd .card-title  {
  color: var(--color-default);
}

.announcementsadd .card-title:hover {
  color: var(--color-secondary);
}

.announcementsadd .card-body {
  padding: 20px 20px 20px 0px;
}

.announcementsadd .card img {
  opacity: 80%;
  height: 100%;
  width: 100px;
}

.announcementsadd button{
  position: relative;
  height: 50px;
  width: 150px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
.announcementsadd button{
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.announcementsadd button:before, button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.announcementsadd button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcementsadd button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcementsadd button:hover:before,
.announcementsadd button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.announcementsadd button:hover{
  color: #f2f2f2;
}
.announcementsadd button:hover{
  background: var(--color-primary);
}

.announcementsadd .news-carousel,
.announcementsadd .news-slider {
  overflow: hidden;
}

.announcementsadd .swiper-pagination {
  margin-top: 20px;
  background-color: rgba(--color-default);
  position: relative;
}

.announcementsadd .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #808588;
  opacity: 0.5;
}

.announcementsadd .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-default);
  opacity: 1;
}

.announcementsadd #title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.announcementsadd #title:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}
 */

 /*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.announcementsadd .left-blog h4 {
  border-bottom: 2px solid #ddd;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 15px 10px;
  text-transform: uppercase;
}

.announcementsadd .left-blog {
  background: #f9f9f9 none repeat scroll 0 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 20px;
}

.announcementsadd .recent-single-post {
  border-bottom: 2px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 15px 10px;
}

.announcementsadd .recent-single-post .post-img {
  display: inline-block;
  padding: 0 5px;
  width: 35%;
}

.announcementsadd .recent-single-post .post-img img {
  opacity: 80%;
  height: 100px;
  width: 150px;
}

.announcementsadd .recent-single-post .pst-content {
  float: right;
  width: 50%;
}

.announcementsadd .recent-single-post .pst-content p a:hover {
  color: var(--color-primary);
}

.announcementsadd .recent-single-post .blog-page .single-blog {
  margin-bottom: 40px;
}

.announcementsadd .recent-single-post .pst-content p a {
  color: #444;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 13px;
}

.announcementsadd .post-information h2 {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.announcementsadd .post-information {
  padding: 20px 0;
}

.announcementsadd .post-thumbnail img {
  height: 100%;
  width: 100%;
}


.announcementsadd .post-information .entry-meta span a {
  color: #444;
  display: inline-block;
  font-weight: 700;
  padding: 10px 0;
}

.announcementsadd .post-information .entry-meta {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.announcementsadd .post-information .entry-meta span i {
  padding: 0 10px;
  color: var(--color-primary);
  font-weight: 700;
}

.announcementsadd .entry-content>p {
  color: #444;
}

.announcementsadd .entry-meta>span {
  color: #444;
}
