/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "McLaren", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #000;
    --color-primary:  #a04ef6;
    --color-secondary: #fddb0d;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .bread {
    background-image: url('../img/banner1.jpg');
    padding: 200px 0 80px 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs .bread:before {
    content: "";
    background-color: rgba(14, 29, 52, 0.8);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs nav {
    background-color: #f3f6fc;
    padding: 20px 0;
  }
  
  .breadcrumbs nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-default);
  }
  
  .breadcrumbs nav ol a {
    color: var(--color-primary);
    transition: 0.3s;
  }
  
  .breadcrumbs nav ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs nav ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs nav ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4278cc;
    content: "/";
  }

  .breadcrumbs .view {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-primary);
    color: var(--color-default);
  }
  
  .breadcrumbs .view i {
    font-weight: 700;
    font-size: 20px;
    color: #028a0f;
  }