/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "McLaren", sans-serif;
}

/* Colors */
:root {
  --color-default: #000;
  --color-primary:  #a04ef6;
  /* --color-secondary: #feb900; */
  --color-secondary: #ec9706;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-secondary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: var(--color-primary);

}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}


/* Preloader */
#preloader {
    display: flex;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }

  #preloader:before,
  #preloader:after {
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }

  #preloader:after {
    left: auto;
    right: 0;
  }

  .ctn-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
  }

  .ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
  }

  #preloader .ring
  {
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%);
    width:150px;
    height:150px;
    background:transparent;
    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-family:sans-serif;
    font-size:20px;
    color:var(--color-secondary);
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:0 0 10px var(--color-secondary);
    box-shadow:0 0 20px rgba(0,0,0,.5);
  }
  #preloader .ring:before
  {
    content:'';
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:3px solid transparent;
    border-top:3px solid var(--color-secondary);
    border-right:3px solid var(--color-secondary);
    border-radius:50%;
    animation:animateC 2s linear infinite;
  }
  #preloader .mema
  {
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
  }
  #preloader .mema:before
  {
    content:'';
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background:var(--color-secondary);
    top:-5px;
    right:-8px;
    box-shadow:0 0 20px var(--color-secondary);
  }
  @keyframes animateC
  {
    0%
    {
      transform:rotate(0deg);
    }
    100%
    {
      transform:rotate(360deg);
    }
  }
  @keyframes animate
  {
    0%
    {
      transform:rotate(45deg);
    }
    100%
    {
      transform:rotate(405deg);
    }
  }

  
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    margin-top: 100px;
    text-align: center;
    user-select: none;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    color: #000000;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 1s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
  }

  #preloader.loaded:before,
  #preloader.loaded:after {
    -webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
    animation: preloaderfinish 300ms ease-in-out 500ms forwards;
  }

  @keyframes preloaderfinish {
    0% {
      width: 5 0%;
    }

    100% {
      width: 0%;
    }
  }

  .loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
  }

  @keyframes letters-loading {
    0%,
    75%,
    100% {
      opacity: 0;
      transform: rotateY(-90deg);
    }

    25%,
    50% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }


  @media screen and (max-width: 767px) {

    .ctn-preloader .animation-preloader {
      height: 8em;
      width: 8em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
      font: bold 3.5em 'Montserrat', sans-serif;
    }
  }

  @media screen and (max-width: 500px) {
    .ctn-preloader .animation-preloader {
      height: 7em;
      width: 7em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
      font: bold 2em 'Montserrat', sans-serif;
    }
  }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar {
  background-color: #475b5a;
  padding-top: 5px;
  padding-bottom: 5px;
}
.brand-name a {
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: bold;
}
.social-links a {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  border-radius: 100%;
}
.social-links a:hover {
  background-color: #fff;
  color: #475b5a;
}

.admin a {
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: bold;
}

.admin span {
    text-decoration: none;
    color: #fff;
}

.admin a:hover {
    color: var(--color-secondary);
    font-family: McLaren,sans-serif;
  }

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  background-color: var(--color-primary);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}

.header.sticked .logo-header{
  height: 70px;
}

.header.sticked .logo-header img {
  margin-top: 0px;
}

.logo-header {
  display: table;
  float: left;
  vertical-align: middle;
  padding: 0;
  color: var(--color-secondary);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 180px;
  height: 90px;
  position: relative;
  z-index: 9;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.logo-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: -50px;
  width: 80%;
  transform: skew(30deg);
  background-color: var(--color-secondary);
}
.logo-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: 10%;
  width: 2000px;
  background-color: var(--color-secondary);
}

.logo-header img {
  margin-top: 7px;
  margin-left: 25px;
}

.sticked-header-offset {
  margin-top: 70px;
}

form #yellow {
  color: #fff;
  background: var(--color-secondary);
  right: 0%;
  border-color: var(--color-secondary);
}
form #yellow:hover {
  color: var(--color-secondary);
  background: #fff;
  font-weight: bold;
  border-color: var(--color-secondary);
}

section {
  scroll-margin-top: 70px;
}

/* .navbar li span {
  font-weight: 700;
  font-size: 30px;
  color: var(--color-secondary);
} */

.navbar .btn-group {
  margin-left: 20px;
}

.navbar .dropdown-menu {
  visibility: hidden;
}

.navbar .show {
  visibility: visible;
  background: #475b5a;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar .show button {
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: 700;
  margin-top: 10px;
}

.navbar .show button:last-child {
  margin-bottom: 10px;
}

.navbar .show button:hover {
  color: var(--color-secondary);
  border: none;
  background: none;
}

.navbar .wrapper .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #0FF0FC;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.navbar .wrapper .button:hover,
.navbar .wrapper .button[aria-expanded="true"] {
  width: 150px;
}
.navbar .wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.navbar .wrapper .button:hover .icon,
.navbar .wrapper .button:hover .icon i,
.navbar .wrapper .button[aria-expanded="true"] .icon,
.navbar .wrapper .button[aria-expanded="true"] .icon i {
  color: #0FF0FC;
  background-color: #fff;
}
.navbar .wrapper .button .icon i {
  color: #fff;
}
.navbar .wrapper .button span {
  font-family: var(--font-secondary);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 5px;
  transition: all 0.3s ease-out;
}
.navbar .wrapper .button span {
  background-color: #0FF0FC;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #475b5a;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #fff;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-secondary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.5s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background-color: var(--color-primary);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-secondary);
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #475b5a;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: #475b5a;
    border: 1px solid #475b5a;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(142, 186, 181, 0.8);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Progress Bar
--------------------------------------------------------------*/
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #028a0f;
  width: 0%;
}

#bar {
  height: 8px;
  background: #028a0f;
  width: 0%;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, rgb(42, 44, 57) 0%, rgb(51, 54, 74) 100%);
  padding: 0;
}

/* #hero .carousel-item {
  height: 450px;
} */

.bd-placeholder-img {
    filter: brightness(70%);
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .container h1 {
    color: #fff;
  }

  .container .btn {
    color: #fff;
    background: var(--color-primary);
  }

  .container .btn:hover {
    color: var(--color-primary);
    background: #fff;
    font-weight: bold;
    border-color: var(--color-primary);
    border-width: 2px;
  }

  #btn i {
    font-size: 30px;
  }

  #btn i:hover {
    color: var(--color-secondary);
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 34rem;
  }

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;

}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 70px;
}

.section-title h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title h3 span {
  color: var(--color-primary);
}

.section-title h3:before,
.section-title h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-secondary);
  display: inline-block;
}

.section-title h3:before {
  margin: 0 15px 10px 0;
}

.section-title h3:after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: var(--color-primary);
  top: 0;
  border-radius: 0px;
}

.featured-services .title {
  font-family: var(--font-secondary);
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a {
  color: var(--color-secondary);
}

.featured-services .icon-box:hover p{
  color: #fff;
}

/*--------------------------------------------------------------
# Discover Section
--------------------------------------------------------------*/
.discover .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.discover .content p:last-child {
  margin-bottom: 0;
}

.discover .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-secondary) 50%, rgba(235, 250, 69, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.discover .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #fcae1e;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.discover .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.discover .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.discover .play-btn:hover:after {
  border-left: 15px solid var(--color-secondary);
  transform: scale(20);
}

.discover button{
  position: relative;
  height: 50px;
  width: 150px;
  margin-top: 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
.discover button{
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.discover button:before, button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.discover button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.discover button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.discover button:hover:before,
.discover button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.discover button:hover{
  color: #f2f2f2;
}
.discover button:hover{
  background: var(--color-primary);
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Counts Section
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: var(--color-primary);
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--color-secondary);
  color: #fff;
  width: 56px;
  height: 56px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family:var(--font-secondary);
  font-size: 14px;
  color: #fff;
}

/*--------------------------------------------------------------
# Program Section
--------------------------------------------------------------*/
.programs .img {
  border-radius: 8px;
  overflow: hidden;
}

.programs .img img {
  transition: 0.6s;
  width: 100%;
  height: 300px;
}

.programs .details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  position: relative;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.4);
}

.programs .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: var(--color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid #fff;
}

.programs .details h3 {
  color: var(--color-secondary);
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.programs .details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.programs .programs:hover .details h3 {
  color: var(--color-secondary);
}

.programs .programs-item:hover .details .icon {
  background: #fff;
  border: 2px solid var(--color-primary);
}

.programs .programs-item:hover .details .icon i {
  color: var(--color-primary);
}

.programs .programs-item:hover .img img {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# Admission Section
--------------------------------------------------------------*/
.admissions .container {
  background-size: cover;
  padding: 100px 60px;
  border-radius: 15px;
  overflow: hidden;
}

.admissions .section-title h3 {
  color: #fff;
}

.admissions .section-title h3 span {
  color: var(--color-primary);
}

.admissions .section-title p {
  color: #fff;
}

.admissions .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
}

.admissions .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.admissions .icon-box .icon i {
  font-size: 70px;
  transition: 0.5s;
  color: #fff;
  position: relative;
}

.admissions .icon-box h4 {
  color: var(--color-secondary);
}

.admissions .icon-box p {
  color: #fff;
}

.admissions .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  text-align: center;
}

.admissions .btn-apply {
  background: var(--color-primary);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-primary);
  font-weight: 600;
  transition: 0.3s;
}

.admissions .btn-apply i {
  padding-top: 10px;
  margin-left: 5px;
  font-size: 20px;
}

.admissions .btn-apply:hover {
  background: #fff;
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .admissions {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------
# News and Updates Section
--------------------------------------------------------------*/
.newsandupdates .accordion-list {
  padding: 0 50px 60px 100px;
}

.newsandupdates .accordion-list ul {
  padding: 0;
  list-style: none;
}

.newsandupdates .accordion-list li+li {
  margin-top: 15px;
}

.newsandupdates .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.newsandupdates .accordion-list a {
  display: block;
  position: relative;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.newsandupdates .accordion-list #num {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.newsandupdates .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.newsandupdates .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.newsandupdates .accordion-list a:hover {
  color: var(--color-primary);
}

.newsandupdates .accordion-list .icon-show {
  display: none;
}

.newsandupdates .accordion-list a.collapsed {
  color: var(--color-default);
}

.newsandupdates .accordion-list a.collapsed:hover {
  color: var(--color-primary);
}

.newsandupdates .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.newsandupdates .accordion-list a.collapsed .icon-close {
  display: none;
}

#newsandupdates #carouselIndicators {
  width: 100%;
}

#carousel-inner {
  height: 500px;
}

#carousel-item img {
filter: brightness(70%);
 position: absolute;
 object-fit: cover;
 top: 0;
 left: 0;
 min-height: 500px;
}

.carousel-caption {
 text-align: right;
 bottom: 10%;
}

@media (max-width: 1024px) {

  .newsandupdates .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .newsandupdates .img {
    min-height: 400px;
  }

  .newsandupdates .accordion-list {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .newsandupdates .carouselIndicators {
    min-height: 200px;
  }

  .newsandupdates .accordion-list {
    padding-bottom: 30px;
    padding-top: 30px;
  }

}

.newsandupdates #load{
  position: relative;
  height: 50px;
  width: 150px;
  margin-top: 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 50px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
.newsandupdates #load{
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.newsandupdates #load:before, #load:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.newsandupdates #load:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.newsandupdates #load:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.newsandupdates #load:hover:before,
.newsandupdates #load:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.newsandupdates #load:hover{
  color: #f2f2f2;
}
.newsandupdates #load:hover{
  background: var(--color-primary);
}

/*--------------------------------------------------------------
# Announcements Section
--------------------------------------------------------------*/
.announcements {
  padding-top: 80px;
}

.announcements img {
  width: 600px;
  height: 350px;
}

.announcements .swiper-slide {
  margin-left: 10px;
}

.announcements .announcements-item+.announcements-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .announcements .announcements-item+.announcements-item {
    margin-top: 40px;
  }
}

.announcements .announcements-item h3 {
  font-weight: 600;
  font-size: 30px;
  color: var(--color-secondary);
}

.announcements .announcements-item p {
  margin-bottom: 0px;
}

.announcements button{
  position: relative;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
.announcements #load{
  margin-top: 50px;
  position: relative;
  height: 50px;
  width: 150px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 50px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
.announcements button{
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.announcements button:before, button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.announcements button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcements button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcements button:hover:before,
.announcements button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.announcements button:hover{
  color: #f2f2f2;
}
.announcements button:hover{
  background: var(--color-primary);
}

.announcements #load{
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.announcements #load:before, #load:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.announcements #load:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcements #load:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.announcements #load:hover:before,
.announcements #load:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.announcements #load:hover{
  color: #f2f2f2;
}
.announcements #load:hover{
  background: var(--color-primary);
}

.announcements .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.announcements .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.announcements .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-secondary);
}

/*--------------------------------------------------------------
# Events Section
--------------------------------------------------------------*/
.events .content {
  padding: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: #fff;
}

.events .content .title p {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.events .content .title p {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-default);
  font-family: "Poppins", sans-serif;
}

.events .content .title p::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-secondary);
  margin: 4px 10px;
}

.events .content .title h3 {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.events .content .img-calendar {
  margin-bottom: 30px;
}

.events .content .more-btn {
  display: inline-block;
  background: var(--color-secondary);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.events .content .more-btn i {
  font-size: 14px;
}

.events .content .more-btn:hover {
  color: var(--color-secondary);
  font-weight: bold;
  background: #fff;
  border: 2px solid var(--color-secondary);
}

.events .event {
  position: relative;
  height: 200px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  margin-bottom: 30px;
}

.events .event:hover {
  transform: translateY(-10px);
}

.events .event .event-info {
  padding-left: 30px;
}

.events .event h4 {
  display: block;
  position: relative;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 15px;
  color: var(--color-primary);
}

.events .event h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 1px;
  background: var(--color-secondary);
  bottom: 0;
  left: 0;
}
.events .event p {
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  font-size: 12px;
  position: relative;
}

.events .event p span {
  font-weight: 500;
  font-size: 12px;
}

.events .event .descrip {
  margin: 10px 0 0 0;
  font-size: 14px;
}

@media (max-width: 575px) {
  .events .content {
    width: 1000px;
  }

  .events .content h3{
    margin-left: 30px;
  }

  .events .content .img-calendar {
    margin-left: 45px;
  }

  .events .event {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  background: var(--color-default);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #475b5a;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: var(--color-primary);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--color-secondary);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--color-primary);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}

#footer .footer-top .totalVisits {
  height: 50px;
  width: 250px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  background: #fff;
  transition: 0.5s;
  margin-top: 20px;
}

#footer .footer-top .totalVisits:hover {
  transform: translateY(-5px);
}

#footer .footer-top .totalVisits .totalVisits-info p {
  color: #028a0f;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
}

#footer .footer-top .totalVisits .totalVisits-info span {
  color: var(--color-default);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
}