/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "McLaren", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #000;
    --color-primary:  #a04ef6;
    --color-secondary: #ec9706;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
/*--------------------------------------------------------------
# University Seal Section
--------------------------------------------------------------*/
.uniseal .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    padding: 30px;
}

.uniseal .seal-img .img-center {
  display: block;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.uniseal .seal-info .info-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.uniseal .seal-info .info-center .box p{
  font-size: 18px;
}